form {
    margin-top: 50px;
    border: 2px solid rgb(194, 3, 35);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    padding: 50px 50px;
    background-color: rgb(64, 165, 224);
}

input:focus, textarea:focus {
    background-color: rgb(235, 204, 147);
}

h1 {
    margin-top: 40px;
}

button {
    width: 150px;
    height:50px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(#b8b81a, #20ad35); 
}

button:hover {
    box-shadow: 10px 10px 10px gray;
}